*.ipynb_checkpoints
__pycache__
*.pyc
core.*
*.nc
*.DS_Store
._*
parflow_latest.sif

bash_scripts/

#figures/

input_files/wrf_forcings/

output_files/

#pfanalysis/

pfout.zarr/

pfpostproc/job_scripts/out/
pfpostproc/domain.nc
pfpostproc/sfs_dem.tif

tcl_scripts/
